.vw-chglog h1 {
  position     : relative;
  margin       : 5rem auto -0.5rem auto;
  padding-left : 2rem;
  width        : 90%;
  color        : hsl(47, 90%, 65%);

  &:first-child { margin-top: 2rem; }
}


.vw-chglog blockquote {
  position      : relative;
  margin        : 0 auto;
  margin-bottom : 3rem;
  z-index       : 1;
  width         : 90%;
  text-align    : left !important;
  li {
    position         : relative;
    margin-top       : 7px;
    padding          : 0.5rem 8px 0.5rem 0.5rem;
    border-top       : 3px solid var(--body-bg-c);
    background-color : var(--sub-panel-c);
    word-spacing     : 1px;
    border: 2px solid hsla(224, 100%, 92%, 0.054);
    box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.464);
    transition       : background var(--md-trans-speed);
    &:first-child {
      border-top-left-radius : 15px;
      strong:first-child {
        text-shadow: 1px 1px 0 black,
                    2px 2px 0 black,
                    3px 3px 0 black; }
    }
    &:last-child  {
      border-bottom-right-radius : 13px; }
  }
  li + li {
    margin-top: 0;
    box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.653);
    // border-bottom: 2px solid black;
  }
  &:hover {
    background-color : transparent;
    color            : var(--md-p-hov-c);
    a:link, a:active, a:visited {
      color                 : var(--md-p-hov-link-c);
      text-decoration-color : var(--md-p-hov-link-bdr-c); }
    a:hover {
      color: var(--md-link-hov-c); }
    strong {
      color: var(--md-p-hov-b-c); }
    em {
      color: var(--md-p-hov-i-c); }
    li {
      background-color: var(--sub-panel-hov-c); }
    code {
      background-color : hsl(30, 15%, 23%);
      color            : var(--md-p-hov-b-c); }
  }
}
