/*** 768px ***/
@media only screen and (--large-screen) {
  :root { --lib-vid-width: 47%; }
  .lib-vid__video .title {
    font-size : 1.1rem;
  }
  .lib-vid__video {
    .title, .details {
      padding-left: 5px;
    }
    .details {
      font-size: 1rem;
    }
  }
  .cat_video-tray { margin-top: 2.3rem; }
  .lib-vid__category-container {
    min-width    : 80%;
    max-width    : 80%;
  }
}
/*** 540px ***/
@media only screen and (--medium-screen) {
  :root { --lib-vid-width: 100%; }
  .lib-vid__category-container {
    min-width    : 93%;
    max-width    : 93%;
  }
  .lib-vid__category h1             { font-size: 1.27rem; }
  .lib-vid__category h2             { font-size: 1.17rem; }
  .lib-vid__category .desc          { font-size: 1.07rem; }
  .lib-vid__category .desc a:link,
  .lib-vid__category .desc a:visited,
  .lib-vid__category .desc a:active { font-size: 1rem; }
}
/*** 420px ***/
@media only screen and (--small-screen) {
  .lib-vid__category h1    { font-size: 1.2rem; }
  .lib-vid__category h2    { font-size: 1.1rem; }
  .lib-vid__category .desc { font-size: 0.95rem; }
}
/*** 320px ***/
@media only screen and (--tiny-screen) {
}