
.red-login__titlebar {
  color: hsl(47, 100%, 61%);
  &.--logged-in {
    color: hsl(161, 80%, 60%);
  }
}


.red-login__disclaimer {
  margin-top: 20px;
  width: 70%;
}


.red-login__form {
  margin     : 0 auto;
  margin-top : 30px;
  width      : 500px;
  text-align : center;
  .passcode {
    width          : 150px;
    text-transform : uppercase; }
  .button {
    display     : inline-block;
    margin-left : 1.5rem; }
  .error {
    margin-top: 30px; }
}



