
.red-vid__titlebar {
  color: hsl(47, 100%, 61%);
}


.red-vid__list {
  display         : flex;
  margin-top      : 2rem;
  margin-right    : -15px;
  flex-wrap       : wrap;
  flex-direction  : row;
  justify-content : space-evenly;
}


:root { --r3d-vid-width: 380px }
.red-vid__video {
  margin-right  : 7px;
  margin-bottom : 25px;
  max-width     : var(--r3d-vid-width);
  min-width     : var(--r3d-vid-width);
  user-select   : none;
  transition    : color .3s;
  .title {
    font-size: 1.2rem; }
}


