/*** 768px ***/
@media only screen and (--large-screen) {
  .red-form__submitted-text p {
    margin        : 0 auto;
    margin-bottom : 30px;
    width         : 80%;
  }
}
/*** 540px ***/
@media only screen and (--medium-screen) {
  .red-form__submitted-text   { width: 98%; }
  .red-form__submitted-text p { width: 95%; margin: 0 auto !important; }
}