
.support .pg-titlebar {
  text-transform : capitalize;
  &.--submitted {
    color : hsl(161, 67%, 67%); }
}


:root { --patreon-width: 200px; }
.support__patreon {
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin          : 2rem auto !important;
  font-size       : 1.4rem;
  a { border: none; }
  img {
    width         : clamp(120px, 45vw, 200px);
    border-bottom : 1px solid hsl(357, 100%, 63%);
  }
}


.support__button {
  margin: 1rem 0 1rem 1rem;
}


.support__submitted-text {
  max-width: 700px;
}

