/*** 768px ***/
@media only screen and (--large-screen) {
  .support__submitted-text { width: 85%; }
}
/*** 540px ***/
@media only screen and (--medium-screen) {
  :root { --patreon-width: 125px; }
  .support__submitted-text { width: 98%; }
}
/*** 420px ***/
@media only screen and (--small-screen) {
}
/*** 320px ***/
@media only screen and (--tiny-screen) {
}