@media only screen and (--large-screen) {
}


@media only screen and (--medium-screen) {
  .md blockquote {
    width: 98%;
  }
  .md > .embed-responsive {
    margin: 10px auto;
    width: 93%;
    padding-bottom: calc(93% / (16 / 9));
  }
}

/*** 420px ***/
@media only screen and (--small-screen) {
}


@media only screen and (--tiny-screen) {
  .md > .embed-responsive {
    height: 150px;
  }
}
