
:root {
  --lit-transition-speed: 250ms ease;
}


.lit__cards {
  position              : relative;
  display               : grid;
  margin-top            : 40px;
  padding: 0 0.5rem 0 1rem;
  align-items           : start;
  grid-template-columns : repeat(auto-fill, minmax(540px, 1fr));
  grid-auto-rows        : auto;
  column-gap: 1.125rem;
  row-gap: 1.5rem;
  justify-items         : stretch;
  &.--expanded {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns : 1fr;
    gap: 1rem 0rem;
    justify-items: center;
    max-width  : 1024px; }
}


.lit__card {
  align-self    : flex-start;
  font-size     : 1.2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  &:hover {
    header {
      color            : hsl(47, 100%, 65%);
      background: linear-gradient(
        90deg,
        hsl(30, 12%, 17%) 0%,
        hsl(30, 12%, 17%) 20%,
        rgba(18,21,23,1) 100%
      );
    }
    summary {
      color            : hsl(30, 15%, 85%);
      background: linear-gradient(
        90deg,
      hsl(30, 15%, 11%) 0%,
      hsl(30, 15%, 11%) 15%,
      hsl(204, 12%, 8%) 100%
      )
    }
    & .ux-icon, .lit-card__timestamp {
      color: hsl(30, 15%, 45%);
    }
  }
  header {
    position         : relative;
    z-index          : 1;
    padding          : 4px 7px 3px 10px;
    border-top-left-radius: 10px;
    background: hsl(197, 13%, 15%);
    background: linear-gradient(
      90deg,
      hsl(197, 12%, 17%) 0%,
      hsl(197, 12%, 17%) 20%,
      rgba(18,21,23,1) 100%
    );
    text-shadow      :
                       1px 1px 0 black,
                       2px 2px 0 black
                      ;
    font-size        : clamp(var(--f-sz-20), calc(0.7rem + 1.7vw), var(--f-sz-24));
    font-weight      : 400;
    color            :hsl(47, 75%, 63%);
    user-select      : none;
    cursor           : pointer;
    transition: color var(--lit-transition-speed);
    &::before {
      position: absolute;
      content: '';
      background: linear-gradient(
          90deg,
          rgba(18,21,23,1) 0%,
          rgba(0,0,0,1) 35%,
          rgba(0,0,0,1) 65%,
          rgba(18,21,23,1) 100%
      );
      top: -0.15rem;
      left: 0;
      height: 0.07rem;
      width: 100%;
      z-index: -1;
      filter: blur(0.275rem)
    }
  }
  summary {
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 10px;
    padding          : 5px 0 5px 3px;
    font-size: var(--md-f-sz);
    line-height: 1.4375rem;
    background-color : hsl(197, 11%, 11%);
    background: linear-gradient(
      90deg,
      hsl(197, 13%, 11%) 0%,
      hsl(197, 13%, 11%) 15%,
      hsl(204, 12%, 8%) 100%
    );
    color            : var(--body-c);
    transition: color var(--lit-transition-speed);
    // Card Shadow
    &::before {
      position: absolute;
      content: '';
      background: rgb(18,21,23);
      background: linear-gradient(
                    90deg,
                    rgba(18,21,23,1) 0%,
                    rgba(0,0,0,1) 35%,
                    rgba(0,0,0,1) 65%,
                    rgba(18,21,23,1) 100%
      );
      bottom: -0.2rem;
      height: 0.11rem;
      width: 100%;
      z-index: -1;
      filter: blur(0.2rem)
    }
  }
  footer {
    padding-top   : 0.75rem;
    border-radius : 0 0 7px 7px;
    font-size: clamp(1rem, calc(0.3rem + 1.9vw), var(--f-sz-18));
    font-weight   : 400;
  }
  .ux-icon {
    position     : relative;
    top          : 2px;
    left         : 3px;
    margin-right : 7px;
    color        : hsl(197, 11%, 40%);
    transition: color var(--lit-transition-speed);
  }
}

.lit-card__author {
  display: block;
  width: 100%;
  text-align: right;
  & span {
    color : hsl(197, 20%, 87%);
    padding-right: 0.125rem;
    &.--is-ethan {
      color : hsl(0, 100%, 72%);
    }
  }
}

.lit-card__timestamp {
  display: block;
  width: 100%;
  text-align: right;
  color         : hsl(197, 13%, 40%);
  transition: color var(--lit-transition-speed);
  & span {
    padding-right: 0.125rem;
  }
}
