.app-menu {
  position       : absolute;
  z-index        : 9;
  top            : 0;
  transform      : translateX(-110%);
  padding-bottom : 50px;
  box-shadow     : 5px 7px 5px -3px var(--menu-bxs-c);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background     : var(--menu-bg-c);
  transition     : transform .4s;
  &.--opened {
    transform: translateX(0%);
    & .app-menu__exit-icon {
      opacity   : 1;
      transform : translateX(90%) scale(1, 1); }
  }
}


.app-menu__close-menu-area {
  display  : none;
  position : fixed;
  top      : 0;
  left     : 0;
  bottom   : 0;
  right    : 0;
  z-index  : 8;
  &.--menu-open { display: block; }
}


.app-menu__header,
.app-menu__category {
  position: relative;
  z-index       : 2;
  padding       : 5px 0;
  border-bottom: 1px solid black;
  background    : var(--menu-header-bg-c);
  font-size     : clamp(var(--f-sz-22), 5vw, 1.7rem);
  text-align    : center;
  text-shadow   : 3px 3px 0 black,
                  2px  0  0 black,
                  0   3px 0 black;
  color         : var(--menu-header-c);
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    content: '';
    z-index: 2;
    background: linear-gradient(
      90deg,
      rgba(27, 32, 34,1) 0%,
     hsl(200, 13%, 67%) 30%,
     hsl(200, 13%, 67%) 70%,
     rgba(27, 32, 34,1) 100%
   );
  }
}

.app-menu__header {
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    content: '';
    z-index: 2;
    background: linear-gradient(
      90deg,
      rgba(27, 32, 34,1) 0%,
     hsl(200, 13%, 67%) 30%,
     hsl(200, 13%, 67%) 70%,
     rgba(27, 32, 34,1) 100%
   );
  }
}


.app-menu__category {
  margin-top     : 1rem;
  padding        : 0 20px;
  border-top     : 1px solid black;
  font-size      : clamp(var(--f-sz-20), 4vw, var(--f-sz-22));
  letter-spacing : 1px;
  &.red33m {
    color: hsl(47, 100%, 70%);
    background: linear-gradient(
      90deg,
      hsl(47, 100%, 7%) 0%,
     hsl(47, 100%, 17%) 40%,
     hsl(47, 100%, 17%) 60%,
     hsl(47, 100%, 7%) 100%
   );
   &::after {
    background: linear-gradient(
      90deg,
      hsl(47, 100%, 12%) 0%,
     hsl(47, 100%, 45%) 20%,
     hsl(47, 100%, 45%) 80%,
     hsl(47, 100%, 12%) 100%
   );
   }
  }
}


.app-menu__exit-icon {
  position    : absolute;
  top         : 1px;
  right       : -5px;
  transform   : scale(0.1, 0.1);
  opacity     : 0;
  font-size   : clamp(2.2rem, 6vw, 2.6rem);
  color       : var(--menu-exit-icon-c);
  cursor      : pointer;
  user-select : none;
  transition  : transform .5s, opacity .45s, color .3s;
  &:hover { color: var(--menu-exit-icon-hov-c); }
}


.app-menu__item {
  & a {
    display     : block;
    box-sizing  : border-box;
    padding-left: 6px;
    text-align  : left;
    font-size   : clamp(var(--f-sz-20), 4vw, 1.375rem);
    color       : var(--menu-item-c);
    user-select : none;
    transition  : color .3s, border .3s;
    &:hover {
      font-weight: 400;
      border-color : var(--menu-item-bdr-hov-c);
      color        : var(--menu-item-hov-c); }
    &.router-link-active {
      font-weight: 400;
      border-color : var(--menu-active-item-bdr-c);
      color        : var(--menu-active-item-c); }
  }
}