// @media only screen and (max-width: 1024px) {
// }
/*** 768px ***/
// @media only screen and (--large-screen) {
// }
/*** 540px ***/
@media only screen and (--medium-screen) {
  .lit__cards {
    margin-right: 0;
    margin-left: 0;
    grid-template-columns : repeat(auto-fill, minmax(90%, 1fr));
    justify-items: center;
  }
  .lit__card {
    margin: 0 0;
    width: 93%;
    font-size: 1.10rem;
  }
  .lit__card header,
  .lit__card.--expanded header {
    font-size: 1.17rem;
    text-align: left;
  }
  .lit__card.--expanded header { padding: 5px 10px; }
  .lit__card.--expanded summary { line-height: 1.5rem; }
  .lit__card article,
  .lit-expanded .lit__card article { font-size: 1.07rem; line-height: 1.2rem; }
  .lit__card footer { font-size: 1rem; padding-bottom: 1px; }
}
/*** 420px ***/
@media only screen and (--small-screen) {
}
/*** 320px ***/
@media only screen and (--tiny-screen) {
  .lit__card .ee-bullet { display: none; }
}