/*** 570px ***/
@media only screen and (--medium-screen) {
  .lit__cards {
    margin-right: 0;
    margin-left: 0;
    padding-left: 1px;
    padding-right: 3px;
    grid-template-columns : repeat(auto-fill, minmax(90%, 1fr));
    justify-items: center;
  }
  .lit__card header,
  .lit__card.--expanded header {
    border-radius: 0;
    background: linear-gradient(
                  90deg,
                  hsl(197, 13%, 17%) 0%,
                  hsl(197, 13%, 17%) 15%,
                  rgba(18,21,23,1) 100%
    );
  }
  .lit__card summary {
    border-radius: 0;
    // font-size: 1.05rem;
    background: linear-gradient(
          90deg,
          hsl(197, 12%, 11%) 0%,
          hsl(197, 12%, 11%) 30%,
          hsl(204, 12%, 8%) 100%
    );
  }
}