.md-header, .md {
  h1, h2, h3, h4, h5 {
    margin-top     : 3rem;
    margin-left    : 3rem;
    margin-bottom  : 0.3rem;
    color          : var(--md-head-c);
    font-weight    : 300;
    letter-spacing : 1px; }
  h1 {
    font-size: clamp(1.4rem, 4vw, 2rem); }
  h2, h3 {
    font-size: 1.7rem; }
}

.md-simple,
.md {
  width       : clamp(200px, 97vw, 960px);
  margin      : 0 auto;
  margin-top  : 10px;
  font-weight : 300;
  font-size   : var(--md-f-sz);
  color       : var(--md-c);
  b, strong {
    font-weight : 400;
    color       : var(--md-b-c);
    transition  : background var(--md-trans-speed), color var(--md-trans-speed); }
  i, em {
    color       : var(--md-i-c);
    transition  : background var(--md-trans-speed), color var(--md-trans-speed); }
  a:link, a:active, a:visited {
    color           : var(--md-link-c);
    text-decoration : none;
    font-weight     : 400;
    text-decoration : underline var(--md-link-bdr-c);
    transition      : text-decoration var(--md-trans-speed),
                      color var(--md-trans-speed); }
  p, ol {
    position                : relative;
    display                 : block;
    padding                 : 3px 0;
    line-height             : clamp(1.375rem, 5vw, 1.75rem);
    border-top-right-radius : 6.5px;
    border-top-left-radius  : 3.5px;
    transition              : background var(--md-trans-speed),
                              color var(--md-trans-speed);
  }
  p {
    background: linear-gradient(
                  90deg,
                  hsl(197, 12%, 8%) 0%,
                  hsl(197, 12%, 14%) 20%,
                  hsl(197, 12%, 14%) 80%,
                  hsl(197, 12%, 8%) 100%
    );
    & + p {
      margin-top: 15px; }
    &:empty {
      display: none; }
    /* Maintain height with floated images */
    &::after {
      clear   : both;
      content : '';
      display : block; }
  }
  & > p {
    margin-bottom : 7px;
    padding-left: clamp(5px, 1.5vw, 20px);
    padding-right: clamp(3px, 1vw, 10px);
    z-index: 1;
    &::before {
      position: absolute;
      content: '';
      background: linear-gradient(
                    90deg,
                    rgba(18,21,23,1) 0%,
                    rgba(0,0,0,1) 30%,
                    rgba(0,0,0,1) 70%,
                    rgba(18,21,23,1) 100%
      );
      bottom: -0.2rem;
      height: 0.15rem;
      width: 100%;
      z-index: -1;
      filter: blur(0.2rem);
    }
    &:hover {
      background: linear-gradient(
        90deg,
      hsl(204, 12%, 8%) 0%,
      hsl(30, 15%, 12%) 30%,
      hsl(30, 15%, 12%) 70%,
      hsl(204, 12%, 8%) 100%
      );
      color            : var(--md-p-hov-c);
      b, strong {
        color: var(--md-p-hov-b-c); }
      i, em {
        color: var(--md-p-hov-i-c); }
    }
  }
}

.md {
  blockquote {
    position: relative;
    display: inline-block;
    margin: 2rem auto 2.7rem auto;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    &::before {
      position: absolute;
      content: '';
      background: rgb(18,21,23);
      background: linear-gradient(
                    90deg,
                    hsl(204, 12%, 8%),
                    hsla(0, 0%, 0%, 0.5) 30%,
                    hsla(0, 0%, 0%, 0.5) 70%,
                    hsl(204, 12%, 8%) 90%
      );
      bottom: -0.1rem;
      height: 95%;
      width: 100%;
      z-index: -1;
      filter: blur(10px);
    }
    & > p {
      display          : inline-block;
      padding          : 8px 2.3rem 8px 2.5rem;
      width: 100%;
      background:      linear-gradient(
                          90deg,
                          hsl(204, 12%, 8%),
                          hsl(197, 11%, 13%) 20%,
                          hsl(197, 11%, 13%) 80%,
                          hsl(204, 12%, 8%)
                        );
      color            : var(--md-bq-c);
      font-size        : clamp(1.125rem, 4vw, 1.4rem);
      text-align       : left;
      quotes           : '“' '”';
      // Should be used as an authors name at the end of a blockquote
      i, em {
        display        : block;
        margin-top     : 8px;
        font-variant   : small-caps;
        letter-spacing : 1px;
        font-weight    : 400;
        color          : var(--md-bq-author-c);
      }
      &::before, &::after {
        position       : absolute;
        font-size      : clamp(5rem, 17vw, 6rem);
        vertical-align : baseline;
        color          : var(--md-bq-quote-c);
      }
      &::before {
        margin-top  : 20px;    // blockquote (margin-top)
        margin-left : -2.5rem; // blockquote (padding-left * -1)
        content     : open-quote; }
      &::after {
        right   : 4px;
        bottom  : -1.8rem;
        content : close-quote; }
    }
  }
  code {
    display: inline-block;
    padding       : 1px 10px 2px 10px;
    color         : var(--md-code-c);
    background    : var(--md-code-bg-c);
    text-shadow   : 1px 1px 0 black,
                   -1px -1px 0 black,
                   1px 0 0 black,
                   0 1px 0 black;
    font-size     : 1.125rem;
    letter-spacing: 1px;
    font-family   : Consolas, 'Courier New', Courier, monospace;
    white-space   : nowrap;
    word-spacing  : -3px;
  }
  & > p {
    ul {
      margin-left: 1rem;
      & > li::before {
        content     : '\2022';
        width       : 1rem;
        font-size   : 1.5rem;
        margin-left : -1rem;
        color       : var(--md-bullet-c);
        transition  : color var(--md-trans-speed); }
    }
    & > img {
      display    : block;
      margin     : 10px auto;
      max-width  : 100%;
      min-height : 100%;
      box-shadow : 0 0 10px 3px var(--md-img-bxs-c);
      & + br {
        display: none; }
    }
    &:hover {
      code {
        background : var(--md-code-bg-hov-c);
        color      : var(--md-code-hov-c); }
      li::before {
        color: var(--md-bullet-hov-c); }
    }
  }
  & > ol {
    padding-left     : 2.5rem;
    list-style       : decimal;
    background: hsl(204, 12%, 8%);
    color            : hsl(197, 12%, 73%);
    box-shadow       : none;
    li {
    background: linear-gradient(90deg, hsl(204, 12%, 6.5%) 0%, hsl(204, 12%, 6.5%) 80%, hsl(204, 12%, 8%) 100%);
    padding: 0.375rem 0.625rem;
    border-radius: 1.275rem;
    margin-bottom: 0.5rem;
      &::marker {
        color: hsl(50, 100%, 60%);
        font-weight: 400;
      }
    }
  }
  .ux-img__image, .ux-img__preloader {
    display: block;
    margin: 20px auto;
    max-width: 97%;
    box-shadow : 0 0 10px 3px black;
  }
  .ux-img__preloader {
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  /* ### Embedded Video Styles ### */
  & > span {
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    width: clamp(250px, 90%, 480px);
    max-height: 360px;
    display: block;
    overflow: hidden;
    & + p { margin-top: 15px; }
    .ux-evid-container {
      position       : relative;
      width          : 100%;
      height         : auto;
      padding-top    : 56.25%;
      iframe {
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%; }
    }
  }

}

.md {
  b, strong, i, em, dt, dd, code, blockquote {
    transition: color var(--md-trans-speed), background var(--md-trans-speed);
  }
}
