.pg-titlebar {
  position         : sticky;
  top              : 0;
  z-index          : 5;
  padding          : 0.45rem 0 0.3rem 0;
  box-shadow       : 0 10px 8px -3px black;
  overflow         : visible;
  text-align       : center;
  font-size        : 1.7rem;
  font-weight      : 300;
  background-color : var(--app-titlebar-bg-c);
  color            : var(--app-titlebar-c);
}


.pg-titlebar__text { padding-right: 5px; }


.pg-titlebar__menu-icon {
  position   : absolute;
  top        : 0.45rem; left: 10px;
  z-index    : 2;
  opacity    : 1;
  font-size  : 2rem;
  text-shadow: 2px 2px 1px black;
  color      : var(--app-titlebar-icon-c);
  cursor     : pointer;
  transition : opacity .3s, color .3s;
  &:hover {
    color: var(--app-titlebar-icon-hov-c); }
  &.--menu-open {
    opacity        : 0;
    pointer-events : none;
    user-select    : none; }
}