


.vid-list__container {
  user-select: none;
}

.vid-list__videos {
  display         : flex;
  margin-top      : 20px;
  padding-left: clamp(1px, 0.67vw, 10px);
  padding-right: clamp(1px, 0.67vw, 10px);
  flex-flow       : row wrap;
  justify-content : center;
  align-items: flex-start;
  row-gap: clamp(1rem, 3.5vw, 1.75rem);
  column-gap: 1rem;

  .hidden-item {
    visibility : hidden;
    flex       : 1 1 370px;
    min-width  : auto;
    max-width  : 480px;
    content    : '';
  }

  .video {
    flex      : 1 1 370px;
    min-width : auto;
    max-width : 480px;

    .title {
      font-size: clamp(1.1rem, 4vw, 1.25rem);
    }

    .timestamp, .author {
      font-size: clamp(0.95rem, 3.5vw, 1.15rem);
    }
  }
}





