:root {
  --chkbx-scale: 1.4;
}


.ux-checkbox {
  position   : absolute;
  visibility : hidden;
  &:checked + label div svg {
    stroke-dashoffset: 0; }
}


.ux-checkbox__label {
  display       : inline-block;
  padding       : 8px 8px;
  padding-left  : 12px;
  border-radius : 6px;
  font-weight   : 400;
  color         :hsl(197, 15%, 85%);
  user-select   : none;
  cursor        : pointer;
  transition    : all 0.15s;
  &:hover {
    color: var(--md-p-hov-i-c); }
  div {
    &:first-child {
      display          : inline-block;
      transform        : scale(var(--chkbx-scale));
      margin-right     : 0.6rem;
      vertical-align   : middle;
      width            : 18px;
      height           : 18px;
      box-shadow       : 0 0 1px 2px black;
      border-radius    : 4px;
      border           : 1px solid hsl(197, 11%, 40%);
      background-color : var(--body-bg-c);
      transition       : all 0.2s ease; }
    &:last-child {
      display: inline-block;
      vertical-align: middle; }
  }
}


.ux-checkbox__checkmark {
  position          : absolute;
  transform         : translate3d(0, 0, 0);
  top               : 3px;
  left              : 2px;
  width             : 12px;
  height            : 10px;
  fill              : none;
  stroke            : hsl(47, 100%, 65%);
  stroke-width      : 2;
  stroke-linecap    : round;
  stroke-linejoin   : round;
  stroke-dasharray  : 18px;
  stroke-dashoffset : 18px;
  transition        : all 0.15s ease;
}