.preloader {
  position       : relative;
  box-sizing     : border-box;
  text-align     : center;
  z-index        : 1;
  &::before, &::after {
    position      : absolute;
    opacity       : 0;
    box-sizing    : border-box;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    box-shadow    : 0 0 56px var(--preloader-bxs-c),
                    inset 0 0 56px var(--preloader-bxs-inset-c);
    border-radius : 150px;
    border        : 6px solid var(--preloader-bdr-c);
    content       : "\0020"; }
  &::before {
    z-index   : 2;
    animation : ripple 1.6s infinite; }
  &::after {
    z-index   : 1;
    animation : ripple 1.6s infinite 0.7s; }
  &.page {
    margin     : 0 auto;
    margin-top : 10vmin;
    width      : 200px;
    height     : 200px; }
}


.preloader__image-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    z-index: 1;
    width: 100%;
    background: linear-gradient(to right,
                  rgba(122, 29, 29, 0.1) 0%,
                  rgba(165, 43, 43, 0.9) 80%,
                  rgba(122, 29, 29, 0.1) 100%);
    animation: left 0.5s linear infinite;
    content: "";
    pointer-events: none;
  }
}

.preloader__image-placeholder {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 55, 55, 0.3);
}



@keyframes left {
  0%{
    left: -95%;
  }
  100%{
    left: 100%
  }
}


