


.ytvideo__container {
  .preloader__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}

.ytvideo__video.--hidden {
  visibility: hidden;
}





