
.ux-video {
  position: relative;
}

.ux-video__thumb-container {
  position: relative;
}

.ux-video__thumb-container::before {
  position    : relative;
  display     : block;
  padding-top : 56.25%;
  content     : '';
}


.ux-video__thumb {
  position : absolute;
  top      : 0;
  left     : 0;
  right    : 0;
  bottom   : 0;
  overflow : hidden;

  img {
    position : relative;
    margin : -9.5% 0 -11% 0;
    width  : 100%; }
}


.ux-video__widget-container {
  position    : absolute;
  top         : 0;
  padding-top : 56.25%;
  width       : 100%;
}


.ux-video__widget {
  position         : absolute;
  padding          : 5px;
  font-size        : 1.7rem;
  border-radius    : 5px;
  background-color : var(--video-widget-bg-c);
  color            : var(--video-widget-c);
  user-select      : none;
  cursor           : pointer;
  transition       : color .3s, background .3s, opacity .3s;
  z-index: 2;

  &.timestamp {
    top           : 0;
    padding       : 1px 5px;
    border-radius : 0;
    font-size     : 1rem;
    cursor        : default; }
  &.video-link {
    right        : 7px;
    bottom       : 7px;
    padding-left : 7px; }
  &.desc   { top: 7px; right: 7px; }
  &.--open { opacity: 0; }
  &:hover {
    background-color : var(--video-widget-bg-hov-c);
    color            : var(--video-widget-hov-c); }
}


.ux-video__desc {
  position         : absolute;
  z-index          : 2;
  top              : 0;
  left             : 0;
  right            : 0;
  bottom           : 0;
  padding          : 7px 3px 0 7px;
  opacity          : 0;
  outline          : 1px dotted transparent;
  background-color : var(--video-desc-c);
  font-size        : 1.07rem;
  pointer-events   : none;
  transition       : opacity .5s, outline .4s;
  .close-desc {
    position         : absolute;
    z-index          : 2;
    top              : 3px;
    right            : 7px;
    color            : var(--video-widget-c);
    font-size        : 1.9rem;
    user-select      : none;
    cursor           : pointer;
    transition       : color 0.3s;
    &:hover {
      background-color : transparent;
      color            : var(--video-widget-close-hov-c); }
  }
  .text {
    position: relative;
    display        : flex;
    flex-direction : column;
    max-height     : 100%;
    span   {
      overflow-x: hidden;
      overflow-y: auto; }
    h1     {
      margin-bottom : 5px;
      border-bottom : 1px dotted var(--video-desc-head-bdr-c);
      font-size     : 1.2rem;
      font-weight   : 400;
      color         : var(--video-desc-head-c); }
    p      {
      margin-bottom : 13px;
      line-height   : 1.7rem; }
    strong {
      font-weight : 400;
      color       : var(--video-desc-b-c); }
    a:link, a:active, a:visited {
      border-bottom : 1px solid var(--video-desc-link-bdr-c);
      font-weight   : 400;
      color         : var(--video-desc-link-c);
      transition    : color .3s, border .3s; }
    a:hover {
      border-bottom : 1px solid var(--video-desc-link-bdr-hov-c);
      color         : var(--video-desc-link-hov-c);
    }
  }
  &.--open {
    opacity        : 1;
    outline        : 1px dotted var(--video-desc-outline-c);
    pointer-events : all; }
}


.ux-video__info {
  position: relative;
  .title {
    height           : 3.35rem;
    padding          : 0 0.3rem;
    overflow         : hidden;
    border-top       : 2px dashed var(--body-bg-c);
    background-color : hsl(197, 11%, 12%); }
  .author {
    float            : right;
    padding          : 0.2rem 0.5rem 0.2rem 0.5rem;
    border-top       : 2px dashed var(--body-bg-c);
    background-color : hsl(197, 11%, 12%);
    font-size        : 1.1rem;
    font-weight      : 400;
    color            : hsl(197, 20%, 87%);
    &.--is-ethan {
      color: hsl(0, 100%, 70%); }
  }
  .author__icon {
    top: 0.15rem;
    color: var(--body-c); }

}
