
.ux-video {
  position: relative;
  border-radius: 10px 10px 10px 10px;
  background-color: hsl(197, 13%, 11%);
  box-shadow: 2px 2px 15px -1px hsla(0, 0%, 0%, 0.45);
  transition: box-shadow 200ms ease;
  &:hover {
    box-shadow: 2px 2px 15px 1px hsla(0, 0%, 0%, 0.75);
    background-color: var(--sub-panel-hov-c);
    .title {
      color: var(--md-p-hov-b-c);
    }
    .details {
      color: hsl(30, 10%, 55%);
    }
  }
}

.ux-video__thumb-container {
  position: relative;
  cursor: pointer;
}

.ux-video__thumb-container::before {
  position    : relative;
  display     : block;
  padding-top : 56.25%;
  content     : '';
}

.ux-video__thumb {
  position : absolute;
  top      : 0;
  left     : 0;
  right    : 0;
  bottom   : 0;
  overflow : hidden;
  border-radius: 10px 10px 0 0;

  img {
    position : relative;
    margin : -9.5% 0 -11% 0;
    width  : 100%; }
}



.ux-video__info {
  position: relative;
  .title {
    overflow    : hidden;
    padding-left: 5px;
    max-height  : 3.35rem;
    font-weight : 400;
    color       : hsl(197, 20%, 85%);
    transition: color 200ms ease;
  }
  .details {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    padding-left : 0.5rem;
    font-size    : 1.07rem;
    color        : hsl(198, 10%, 55%);
    transition: color 200ms ease;
  }
  .timestamp {
    display: inline;
  }
  .bullet {
    color: hsl(197, 20%, 80%);
  }
  .author {
    display: inline;
    border-top       : 2px dashed var(--body-bg-c);
  }
  .author__icon {
    position: relative;
    top: 0.14rem;
    color: var(--body-c);
    &.--is-ethan {
      color: hsl(0, 100%, 73%); }
  }

}
