.ux-img {
  position: relative;
  width: 100%;
}


.ux-img__preloader {
  position   : absolute !important;
  transition : opacity 0.5s, visibility 0.5s;
}


.ux-img__image,
.ux-img__preloader.--disabled {
  opacity: 0;
}


.ux-img__image.--loaded {
  animation           : fadeIn 0.3s ease-in;
  animation-fill-mode : forwards;
}


