/*** 768px ***/
@media only screen and (--large-screen) {
}
/*** 540px ***/
@media only screen and (--medium-screen) {
}
/*** 420px ***/
@media only screen and (--small-screen) {
  .ux-filter                  { width: 95%; }
  .ux-filter__fieldset        { padding-left: 5px; padding-right: 5px; }
  .ux-filter__fieldset legend { margin-left: 10px; }
  .ux-filter__fieldset legend,
  .ux-filter__expand-filter   { font-size: 1.2rem; }
}
/*** 320px ***/
@media only screen and (--tiny-screen) {
}