.ux-img {
  width: 100%;
}


.ux-img__preloader {
  position   : absolute;
  top        : 50%;
  left       : 50%;
  transform  : translate(-50%, -50%);
  min-width  : 150px;
  min-height : 150px;
  transition : opacity 0.5s, visibility 0.5s;
}


.ux-img__image,
.ux-img__preloader.--disabled {
  opacity: 0;
}


.ux-img__image.--loaded {
  animation           : fadeIn 0.3s ease-in;
  animation-fill-mode : forwards;
}


