
/* TOGGLE STYLING */
.ux-toggle {
  display         : flex;
  margin          : 0 auto;
  flex-flow       : row nowrap;
  justify-content : center;
  align-items     : stretch;
  font-family     : 'Nunito Sans';
}

.ux-toggle__input {
    position : fixed;
    top      : 0;
    left     : -100%;
    width    : 0;
    height   : 0;
    & + .ux-toggle__label {
      display          : inline-block;
      position         : relative;
      margin           : 0;
      padding          : .1rem 0.75rem;
      box-shadow       : 0 0 0 0 transparent;
      border           : solid 1px var(--toggle-inactive-bdr-c);
      background-color : var(--toggle-inactive-bg-c);
      text-align       : center;
      font-size        : 1.2rem;
      font-weight      : 400;
      color            : var(--toggle-inactive-c);
      user-select      : none;
      cursor           : pointer;
      transition       : border-color     .15s ease-out,
                         color            .25s ease-out,
                         background-color .15s ease-out,
                         box-shadow       .15s ease-out }
    &:hover + .ux-toggle__label {
      color: hsl(47, 74%, 70%); }
    &:checked + .ux-toggle__label {
      z-index          : 1;
      box-shadow       : 0 0 7px 0 var(--toggle-active-bxs-c);
      border-color     : var(--toggle-active-bdr-c);
      background-color : var(--toggle-active-bg-c);
      color            : var(--toggle-active-c);
      cursor           : default; }
}

.ux-toggle__label {
  &.--wait {
    cursor: not-allowed; }
  &:first-of-type {
    border-radius : 6px 0 0 6px;
    border-right  : none; }
  &:last-of-type {
    border-radius : 0 6px 6px 0;
    border-left   : none; }
}



