
/*** 768px ***/
@media only screen and (--large-screen) {
  .app__toast          { font-size: 1.3rem; }
  .app__toast .ux-icon { font-size: 1.75rem; }
}
/*** 540px ***/
@media only screen and (--medium-screen) {
  .app__toast-buffer.--show { height: 3.2rem; }
  .app__toast               { padding-left: 5px; padding-right: 40px; }
}