
/*** 768px ***/
@media only screen and (--large-screen) {
  .--default-scrollbar,
  .--subtle-scrollbar {
    scrollbar-width: 0;
  }

  .--default-scrollbar::-webkit-scrollbar,
  .--subtle-scrollbar::-webkit-scrollbar {
    width         : 0;
  }

}
/*** 540px ***/
@media only screen and (--medium-screen) {
  .app__toast-buffer.--show { height: 3.2rem; }
}