
::selection {
  background: var(--selection-bg-c);
}
::-moz-selection {
  background: var(--selection-bg-c);
}


.app__container {
  display        : flex;
  position       : relative;
  flex-direction : column;
  flex           : 1;
}


.app__ribbon {
  display      : block;
  position     : sticky;
  z-index      : 10;
  top          : 0;
  left         : 0;
  right        : 0;
  margin-right : 7px;
  height       : 3px;
  box-shadow   : 0 4px 5px 1px black;
  background   : var(--app-ribbon-c);
}


.app__toast-buffer          { height: 0; transition: height 0.2s; }
  .app__toast-buffer.--show { height: 2.3rem; }


.app__toast {
  position    : fixed;
  z-index     : 10;
  transform   : translateY(-100%);
  top         : 0;
  left        : 0;
  right       : 16px;
  background  : var(--app-ribbon-c);
  text-align  : center;
  font-size   : 1.7rem;
  font-weight : 400;
  color       : hsl(197, 100%, 99%);
  cursor      : pointer;
  transition  : transform 0.2s; }
  .app__toast.--show { transform: translateY(0%); }
  .app__toast .ux-icon {
    position  : absolute;
    top       : 0;
    right     : 3px;
    font-size : 2.3rem;}


.app__header {
  top              : 0;
  left             : 0;
  margin-right     : 7px;
  height           : 8rem;
  box-shadow       : 0 4px 5px -1px black;
  border-bottom    : 3px solid var(--panel-c);
  background-color : var(--body-bg-c); }
  .app__header .title {
    position    : absolute;
    top         : 10px;
    left        : 0;
    right       : 0;
    bottom      : 0;
    margin      : 0 auto;
    text-align  : center;
    font-size   : var(--app-head-f-sz);
    font-family : 'Pique N Meex';
    text-shadow : 1px 1px 0 black,
                  2px  0  0 black,
                  0   2px 0 black,
                  3px 3px 0 black,
                  4px 4px 0 black,
                  5px 5px 0 black;
    color       : var(--app-head-c); }


.app__body {
  flex   : 1;
  margin : 0 5px 0 0; }
  .app__body  .content {
    transition: opacity 0.3s; }
    .app__body .content.--menu-open {
      opacity        : 0.3;
      pointer-events : none;
      user-select    : none; }



