
::selection {
  background: var(--selection-bg-c);
}
::-moz-selection {
  background: var(--selection-bg-c);
}

:root {
  --page-right-margin: 5px;
}


.app__container {
  display        : flex;
  position       : relative;
  flex-direction : column;
  flex           : 1;
}


.app__ribbon {
  display      : block;
  position     : relative;
  z-index      : 10;
  width: 100%;
  margin-right : var(--page-right-margin);
  height       : 3px;
  box-shadow   : 0 4px 5px 1px black;
  background   : var(--app-ribbon-c);
}

main::before {
  position: fixed;
  width: 100vw;
  height: 100vh;
  content: '';
  background-image:  linear-gradient(hsla(197, 14%, 30%, 0.1) 2px, transparent 2px),
    linear-gradient(90deg, hsla(197, 14%, 30%, 0.1) 2px, transparent 2px),
    linear-gradient(hsla(197, 14%, 30%, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, hsla(197, 14%, 30%, 0.2) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-attachment: fixed;
}

.app__toast-buffer {
  position: relative;
  height: 0;
  transition: height 0.2s; }
  .app__toast-buffer.--show {
    height: 2.3rem;
  }


.app__toast {
  position    : fixed;
  z-index     : 10;
  transform   : translateY(-100%);
  top         : 0;
  left        : 0;
  right       : 0;
  padding-left: 5px;
  padding-right: 40px;
  background  : var(--app-ribbon-c);
  text-align  : center;
  font-size   : clamp(1.3rem, 4vw, 1.7rem);
  font-weight : 400;
  color       : hsl(197, 100%, 99%);
  cursor      : pointer;
  transition  : transform 0.2s; }
  .app__toast.--show {
    box-shadow   : 0 4px 5px 1px black;
    transform: translateY(0%); }
  .app__toast .ux-icon {
    position  : absolute;
    top       : 0;
    right     : 3px;
    font-size : clamp(1.75rem, 5.5vw, 2.3rem);
  }


.app__header {
  position         : relative;
  top              : 0;
  left             : 0;
  margin-right     : var(--page-right-margin);
  height           : clamp(1rem, 18vw, 10rem);
  background-color : transparent;
}
  .app__header .title {
    position    : absolute;
    left        : 0;
    right       : 0;
    height      : 100%;
    padding-top : clamp(0rem, 1.7vw, 1rem);
    margin      : 0 auto;
    text-align  : center;
    font-size   : clamp(1rem, 11.3vw, 6.5rem);
    font-family : 'Pique N Meex';
    text-shadow : 1px 1px 0 black,
                  2px  0  0 black,
                  0   2px 0 black,
                  3px 3px 0 black,
                  4px 4px 0 black,
                  5px 5px 0 black;
    color       : var(--app-head-c); }


.app__body {
  position: relative;
  flex   : 1;
  margin : 0 5px 0 0; }
  .app__body  .content {
    transition: opacity 0.3s; }
    .app__body .content.--menu-open {
      opacity        : 0.3;
      pointer-events : none;
      user-select    : none; }



