html {
  height          : 100%;
  color           : var(--body-c);
  font-size       : var(--body-f-sz);
  font-family     : 'Nunito Sans', 'Arial', 'Verdana';
  font-weight     : 300;
  text-rendering  : optimizeLegibility;
  background      : var(--body-bg-c);
  scroll-behavior : smooth;


  -webkit-font-smoothing  : subpixel-antialiased;
  -moz-osx-font-smoothing : grayscale;
  /* DO NOT REMOVE - menu and scroll depend on this */
  overflow                : visible;
  /**************************************************/
}
body {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}